// -----------------------------------------------------------------------------
// This file contains all styles related to the home page of the site.
// -----------------------------------------------------------------------------

.banner {
  position: relative;
  padding: 275px 0 170px;
  background: $black;
  overflow-y: hidden;
  .container {
    display: flex;
    .content-holder {
      position: relative;
      max-width: 484px;
      z-index: 1;
      h1 {
        color: $white;
      }
      .btn {
        margin: 36px 0 0;
      }
    }
    .image-holder {
      position: relative;
      margin-top: -75px;
      margin-left: auto;
      margin-right: 80px;
      &::before {
        content: url(../images/moon.png);
        position: absolute;
        top: -197px;
        left: -523px;
      }
      img {
        position: relative;
        opacity: 0.34;
      }
    }
  }
}
.platform {
  padding: 135px;
  background: rgba(0, 0, 0, 0.06);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .p {
    &-cards {
      display: flex;
      width: calc(50% - 40px);
    }
    &-card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100% / 3 - 8px);
      padding: 32px;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.58);
      background: linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #121212;
      p { 
        text-align: center;
        color: $text-color-white;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.25px;
        text-transform: uppercase;
      }
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    &-icons {
      width: calc(50% - 40px);
      display: flex;
      justify-content: center;
      p {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0.18px;
        margin: 0 0 24px;
      }
    }
    &-icon {
      &__items {
        margin: 0 auto;
        display: flex;
        align-items: center;
      }
      &__item {
        font-size: 0;
        &:not(:last-child) {
          margin-right: 41px;
        }
      }
    }
  }
}
.media {
  padding: 40px 0;
  .container {
    min-height: 620px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .media-holder {
    width: calc(50% - 15px);
    .video-player {
      max-width: 490px;
      padding: 36px;
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.08);
      .video-holder {
        width: 100%;
        padding-top: 56%;
        background-color: $white;
        border-radius: 8px;
      }
      .video-buttons {
        padding: 24px 8px 0 16px;
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 0.14px;
        }
        .btn-holder {
          display: flex;
          align-items: center;
          margin: 20px 0 0;
          justify-content: space-between;
          .btn-theme {
            padding: 24px 20px;
            color:rgba(255, 255, 255, 0.6);
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            border-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            background: transparent;
            transition: all 0.3s ease-in-out;
            &:not(:last-child) {
              margin-right: 12px;
            }
            &.btn-secondary {
              border: none;
              color: $secondary-light;
              border: 1px solid transparent;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
                          0 4px 5px rgba(0, 0, 0, 0.14),
                          0 1px 10px rgba(0, 0, 0, 0.12);
            }
            &:hover, &.active {
              border: 1px solid $secondary-dark;
            }
          }
          .btn-wrap {
            width: calc(100% / 3 - 16px);
            text-align: center;
            button {
              position: relative;
              overflow: hidden;
              width: 100%;
              padding: 19px 10px 22px;
              color: rgba(255, 255, 255, 0.6);
              font-size: 50px;
              line-height: 0.8;
              font-weight: 500;
              background-color: transparent;
              border-radius: 8px;
              border: 1px solid rgba(255, 255, 255, 0.6);
              transition: all 0.3s ease-in-out;
              &::after {
                content: '';
                position: absolute;
                width: 4px;
                height: 12px;
                left: calc(50% - 2px);
                bottom: -2px;
                border-radius: 2px;
                background: rgba(255, 255, 255, 0.6);
                transition: all 0.3s ease-in-out;
              }
            }
            span {
              display: block;
              padding: 10px 0;
              font-size: 12px;
              line-height: 20px;
              letter-spacing: 0.25px;
              color: rgba(255, 255, 255, 0.87);
              transition: all 0.3s ease-in-out;
            }
            &.active, &:hover {
              button {
                color: $purple;
                text-shadow: 4px 0 0 rgba(128, 90, 203, 0.3),
                            8px 0 0 rgba(128, 90, 203, 0.2);
                border: 1px solid transparent;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
                            0 4px 5px rgba(0, 0, 0, 0.14),
                            0 1px 10px rgba(0, 0, 0, 0.12);
                &::after {
                  background: $purple;
                }
              }
              span {
                color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
    .boost-holder {
      display: flex;
      .boost-card {
        text-align: right;
      }
      .notification {
        display: inline-block;
        margin-left: auto;
        padding: 12px 20px;
        border-radius: 28px;
        color: $heading-color;
        font-size: 14px;
        text-transform: uppercase;
        background: $primary-light;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
                    0 4px 5px rgba(0, 0, 0, 0.14),
                    0 1px 10px rgba(0, 0, 0, 0.12);
      }
      .card-content {
        display: flex;
        align-items: center;
        text-align: left;
        margin: 10px 0 0;
        padding: 33px;
        background: $primary;
        border-radius: 8px;
        .ico-holder {
          font-size: 0;
          margin-right: 33px;
        }
        .boost-content {
          .price {
            color: $white;
            font-family: 'Roboto Mono', monospace;
            font-weight: 400;
            font-size: 24px;
          }
          .text {
            margin: 4px 0 0;
            color: $white;
            font-size: 18px;
          }
        }
      }
    }
  }
  .content-holder {
    width: calc(50% - 15px);
    h2 {
      margin: 0 0 32px;
      color: $heading-color;
    }
    p {
      font-size: 22px;
      letter-spacing: 0.18px;
    }
  }
  &.media-lg {
    .media-holder {
      position: relative;
      padding-top: 45%;
      .inner-media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 14px;
        img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .content-holder {
      padding-left: 20%;
    }
  }
  &.reverted {
    .media-holder {
      order: 1;
    }
  }
  &.dark {
    background: linear-gradient(rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)) $bg;
    .content-holder {
      h2 {
        color: $text-color-white;
      }
      p {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
.partners {
  padding: 150px 0;
  background-color: #E0E0E0;
  .subheading {
    margin: 0 0 24px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.18px;
    text-align: center;
    color: $text-color;
  }
  .logo-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      font-size: 0;
      &:not(:last-child) {
        margin-right: 70px;
      }
    }
  }
  .btn-holder {
    display: flex;
    justify-content: center;
    margin: 30px 0 0;
  }
}
.testimonials {
  padding: 180px 0;
  .slick-list {
    overflow: visible;
  }
  .single-slide {
    padding: 0 70px;
    transition: all 0.3s ease-in-out;
    p {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      letter-spacing: 0.18px;
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
      color: $heading-color;
      &.name {
        margin: 32px 0 0;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.68px;
        text-align: center;
        font-style: normal;
      }
    }
    &:not(.slick-current) {
      opacity: 0.37;
    }
  }
  .slick-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    right: 72px;
    border: 1px solid transparent;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), $bg;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
                0 4px 5px rgba(0, 0, 0, 0.14),
                0 1px 10px rgba(0, 0, 0, 0.12);
    &::before {
      content: url(../images/icons/arrow-right.svg);
      opacity: 1;
      font-size: 12px;
      margin-left: 3px;
      filter: invert(1);
    }
    &.slick-disabled {
      border: 1px solid $bg;
      background-color: transparent;
      opacity: 0.1;
      box-shadow: none;
      &::before {
        filter: none;
      }
    }
  }
  .slick-prev {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid transparent;
    left: 72px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), $bg;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
                0 4px 5px rgba(0, 0, 0, 0.14),
                0 1px 10px rgba(0, 0, 0, 0.12);
    &::before {
      content: url(../images/icons/arrow-left.svg);
      opacity: 1;
      font-size: 12px;
      filter: invert(1);
    }
    &.slick-disabled {
      border: 1px solid $bg;
      background-color: transparent;
      opacity: 0.1;
      box-shadow: none;
      &::before {
        filter: none;
      }
    }
  }
}