// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Header styles
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: black;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  @include mq('tablet', max) {
    padding: 16px 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-logo {
    font-size: 0;
    a {
      display: inline-block;
    }
    img {
      filter: brightness(0) invert(1);
      transition: all 0.3s ease-in-out;
      @include mq('tablet', max) {
        max-width: 150px;
      }
    }
  }
  &-menu {
    &__items {
      display: flex;
      align-items: center;
      padding: 8px;
      @include mq('tablet', max) {
        padding: 8px 0;
      }
    }
    &__item {
      a {
        &.popup-trigger {
          color: $text-color-white;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          @include mq('tablet', max) {
            font-size: 12px;
            letter-spacing: 0.4px;
          }
          &:hover {
            color: $primary-light;
          }
          &.button {
            padding: 16px 20px;
            border-radius: 40px;
            border: 1px solid $primary-light;
            color: $primary-light;
            @include mq('tablet', max) {
              padding: 8px;
            }
            &:hover {
              background: $primary-light;
              color: white;
            }
          }
        }
      }
      &:not(:last-child) {
        margin-right: 32px;
        @include mq('tablet', max) {
          margin-right: 14px;
        }
      }
    }
  }
  &.scrolled {
    background: $white;
    .header-logo {
      img {
        filter: none;
      }
    }
    .header-menu {
      &__item {
        a {
          &.popup-trigger:not(.button) {
            color: $text-color
          }
        }
      }
    }
  }
}