// -----------------------------------------------------------------------------
// This file contains all styles related to the common parts in all application
// -----------------------------------------------------------------------------
// Custom Color Classes
.text-primary {
  color: $primary;
}
.text-secondary {
  color: $secondary;
}

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}

// Custom Container
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1336px;
  &.lg {
    max-width: 1380px;
  }
  &.md {
    max-width: 1280px;
  }
  &.sm {
    max-width: 1160px;
  }
  &.xs {
    max-width: 980px;
  }
}

.container-fluid {
  margin: auto;
  padding: 0 20px;
  width: 100%;
}

.background-element {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.d-sm-only {
  @include mq("tablet") {
    display: none;
  }
}

// Form
.form-row {
  margin-bottom: 15px;
  @include mq("tablet") {
    display: flex;
  }
}
.form-col {
  width: 100%;
  max-width: 100%;
  &.col-half {
    @include mq("tablet") {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
.form-control {
  width: 100%;
}

.btn {
  &.md {
    display: inline-block;
    padding: 20px 40px 20px 32px;
    background-color: #121212;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    span {
      display: block;
      font-size: 14px;
    }
    .link {
      margin: 0 0 8px;
      color: $text-color-white;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      img {
        margin: 0 8px 0 0;
        filter: brightness(0) invert(1);
        transition: all 0.3s ease-in-out;
      }
    }
    &:hover {
      color: $text-color-white;
      box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.20), 
                  0px 5px 22px rgba(0, 0, 0, 0.12), 
                  0px 12px 17px rgba(0, 0, 0, 0.14);
      .link {
        color: $primary-light;
        img {
          filter: none;
        }
      }
    }
  }
  &-primary {
    padding: 16px 56px 16px 48px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    color: $text-color-white;
    font-size: 16px;
    font-weight: 500;
    background-color: $primary;
    transition: all 0.3s ease-in-out;
    img {
      margin-right: 8px;
      filter: brightness(0) invert(1);
    }
    &:hover {
      box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.20), 
                  0px 5px 22px rgba(0, 0, 0, 0.12), 
                  0px 12px 17px rgba(0, 0, 0, 0.14);
    }
  }
}